body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.webcam_output {
  position: absolute;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  transform: scale(-1, 1);
  visibility: hidden;
  display: none;
}

.output_canvas {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100vh;
  transform: scale(-1, 1);
}